<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head::head"/>

    <title>giflib | Home</title>
</head>
<body>
<div th:replace="fragments/menu::menu"/>
<div class="gifs container">
    <div class="row">
        <h1 th:if="${empty} ">Nic nie znaleziono !!!</h1>
        <div th:each="gif : ${g}" class="col s12 l4">

            <a th:href="@{|/gif/${gif.name}|}">
                <img th:src="@{|/gifs/${gif.name}.gif|}" />
            </a>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>

<div th:replace="fragments/footer::footer"/>

</body>
</html>